################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/API/bin
/API/obj
/Comandos/bin
/Comandos/obj
/Dominio/bin
/Dominio/obj
/Infraestrutura/bin
/Infraestrutura/obj
/Input/bin
/Input/obj
/Migration/bin
/Migration/obj
/OutPut/bin
/OutPut/obj
/Shered/bin
/Shered/obj
/Teste/bin
/Teste/obj
/.vs
