################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Comandos/bin/Debug/net8.0
/API/bin/Debug/net8.0
/API/obj
/Comandos/obj
/Dominio/bin/Debug/net8.0
/Dominio/obj
/Infraestrutura/bin/Debug/net8.0
/Infraestrutura/obj
/Input/bin/Debug/net8.0
/Input/obj
/Migration/bin/Debug/net8.0
/Migration/obj
/OutPut/bin/Debug/net8.0
/OutPut/obj/Debug/net8.0
/OutPut/obj/Release/net8.0
/OutPut/obj
/Shered/bin/Debug/net8.0
/Shered/obj
/Teste/bin/Debug/net8.0
/Teste/obj
/.vs/YeshuaCreator/FileContentIndex
/.vs/YeshuaCreator/v17/TestStore/0
/.vs/YeshuaCreator/v17
/.vs
