################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/AppAplication/Comandos/bin
/AppAplication/Comandos/obj
/AppAplication/RepositoryInterfaces/bin
/AppAplication/RepositoryInterfaces/obj
/AppDominio/Dominio/bin
/AppDominio/Dominio/obj
/APPInfraEstructure/API/bin
/APPInfraEstructure/API/obj
/APPInfraEstructure/Migration/bin
/APPInfraEstructure/Migration/obj
/APPInfraEstructure/RepositoryRead/bin
/APPInfraEstructure/RepositoryRead/obj
/APPInfraEstructure/RepositoryWrite/bin
/APPInfraEstructure/RepositoryWrite/obj
/APPInfraEstructure/Shered/bin
/APPInfraEstructure/Shered/obj
/APPTeste/Teste/bin
/APPTeste/Teste/obj
/APPTeste/TestMigration/bin
/APPTeste/TestMigration/obj
/APPTeste/TestProject/bin
/APPTeste/TestProject/obj
/APPTeste/TestResults
/.vs
