<div id="login-screen" class="login-container">
    <h2>Login</h2>
    <form id="login-form">
        <input type="text" id="email" placeholder="Email" /><br><br>
        <input type="password" id="password" placeholder="Senha" /><br><br>
        <div align="center">
            <button type="submit" style="vertical-align: middle;">Entrar</button>
            <a href="#" onclick="showForgotPassword()" title="Esqueci a senha" style="margin: 0 10px; vertical-align: middle;">
                <i class="fas fa-key" style="font-size: 32px; vertical-align: middle;"></i>
            </a>
            <a href="#" onclick="showCreateAccount()" title="Criar conta" style="margin: 0 10px; vertical-align: middle;">
                <i class="fas fa-user-plus" style="font-size: 32px; vertical-align: middle;"></i>
            </a>
        </div>
    </form>
</div>
