	:root {
    --primary-color: #0071e3;      /* Azul principal */
    --primary-hover: #005bb5;      /* Azul escuro para hover */
    --secondary-color: #333;       /* Cinza escuro */
    --background-color: #f9f9f9;   /* Fundo claro */
    --text-color: #333;            /* Cor do texto */
    --border-color: #d2d2d7;       /* Cor da borda */
    --button-bg: #007bff;          /* Azul para botões */
    --button-hover: #0056b3;       /* Azul mais escuro para hover */
}
