<div id="modal-action"
     class="fixed inset-0 bg-black bg-opacity-40 flex items-center justify-center z-50 hidden">

    <div class="bg-white w-full max-w-5xl rounded shadow-lg relative
                max-h-[90vh] overflow-hidden flex flex-col">

        <button id="close-modal-action"
                class="absolute top-2 right-2 text-gray-500 hover:text-black text-xl z-10">
            &times;
        </button>

        <div id="modal-action-content"
             class="overflow-y-auto p-4">
        </div>

    </div>
</div>