<div id="modal-pesquisa-fk" class="fixed inset-0 bg-black bg-opacity-40 flex items-center justify-center z-50 hidden">
    <div class="bg-white w-full max-w-4xl p-6 rounded shadow-lg relative">
        <button id="close-modal-fk" class="absolute top-2 right-2 text-gray-500 hover:text-black text-xl">&times;</button>
        <div id="modal-conteudo-fk"></div>
        <div id="modal-tabela-fk" class="mt-4"></div>
        <div id="pagination-controls-fk" class="flex justify-center mt-2 gap-2"></div>
    </div>
</div>